.sub-title {
    color: gray;
    font-size: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.info {
    margin: 0px 225px 0;
    text-align: left;
    gap: 25px;
}

.main-content p {
    font-size: 15px;
    border: solid 3px #5EF5FF;
    border-radius: 5px;
    color: #5EF5FF;
    height: 31px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    /* font-family: ; */
}

.main-text p{
    margin: 0;
    font-size: 92px;
    line-height: 92px;
}