.sub-title {
    color: gray;
    font-size: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.info {
    margin: 0px 250px 0;
    text-align: left;
    gap: 25px;
    margin-top: 225px;
}

.main-content h3 {
    font-size: 15px;
    border: solid 3px #5EF5FF;
    border-radius: 10px;
    color: #5EF5FF;
    height: 31px;
    width: 150px;
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    text-align: center; 
}

.main-text h1{
    font-size: 92px;
    line-height: 92px;
}