{% extends 'template.html' %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info_center.css') }}">
{% endblock %}

{% block body %}
  <main>
    <div class="info">

      <div class="main-content">
        <span class="sub-title">{{ now_day }} {{ current_month_name }} {{ now_year }}</span>
        <p>NEW POST</p>

      </div>

      <div class="main-text">
        <p>We launched «The Quest» website!</p>
      </div>

      <div>
        <a href="/map">READ MORE ➞</a>
      </div>
    </div>
    
  </main>
{% endblock %}