{% extends 'template.html' %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}

{% block body %}
  <main>

    <div class="centered-content">
        <div class="centered-text">
          <span class="welcome">Welcome to</span>
          <h1 class="title">The Quest</h1>
        </div>
        <div class="cta-button-container">
          <a href="/info_center"><img src="static/img/button-default.svg" alt="GET THE QUEST" class="cta-button"></a>
        </div>
    </div>
    
  </main>

  <div class="privacy-policy">
    <div class="fixed-text-block">
      <p class="first-text">Theлою Quest - it just a game.</p>
      <p class="second-text">For investment inquiries, <a href="/map">please reach</a> out to us.</p>
    </div>

    <div class="privacy-block">
      <a href="#">Jobs opening</a>
      <a href="#">Privacy and Policy</a>
    </div>
  </div>
{% endblock %}
