{% extends 'template.html' %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}


{% block body %}
  <main>
    <div class="centered-content">
        <div class="centered-text">
          <span class="welcome">Welcome to</span>
          <h1 class="title">The Quest</h1>
        </div>
        <div class="cta-button-container">
          <a href="/info_center"><img src="static/img/button-default.svg" alt="GET THE QUEST" class="cta-button"></a>
        </div>
    </div>
    <script src="static/js/script.js"></script>
  </main>
{% endblock %}